.header {
  width: 100%;
  background-color: rgba(248, 114, 22, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;

  &__title {
    color: white;
    font-size: 1.5 rem;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }
}

.nav-button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  transition: all 0.4s;
  position: relative;

  &:hover {
    background-color: white;
    color: rgba(248, 114, 22, 255);
  }

  &__balance {
    position: absolute;
    top: -50%;
    background-color: #fff;
    color: rgba(248, 114, 22, 255);
    border-radius: 15px;
    padding: 5px 10px;
  }
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 900px) {
.header {
  padding: 25px 5%;
}
.nav-button {


  &__balance {
    position: absolute;
    top: 80%;
    right: -5%;
  }
}
}

